@using ShowTracker.ViewModel.ShowsViewModel
@model DeleteShowViewModel

@{
    ViewBag.Title = "Delete Show";
}

<h2 class="text-center my-4">@ViewBag.Title</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title fw-bold mb-3">@Model.Title</h3>

                <p class="text-danger fs-5 mt-4">
                    Are you sure you want to delete <strong>@Model.Title</strong>?
                </p>
            </div>

            <div class="card-footer d-flex justify-content-center gap-3">
                <form asp-action="Show" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger px-4">
                        Confirm Delete
                    </button>
                </form>

                <a asp-controller="Explore" asp-action="Index"class="btn btn-secondary">   
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>